.container {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: #282c34;
}

.card--grupo {
    background-color: '#224411';
    color: '#999999';
}