.container--login {  
    background-color: slategray;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.input--form {
    margin-bottom: 20px;
    background-color: azure;
}
.login--links {
    font-size: 10pt;
    display: flex;
    height: 20%;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}